.composition{
    width: 93.750vw;
    margin: 0 auto;
    display: flex;
    margin-top: 276px;
    .composition__title{
        margin-left: 10.417vw;
        margin-top: 68px;
        
        h2{
            margin-top: 41px;
            font-size: 50px;
            font-weight: 400;
            width: 26.042vw;
        }
        .composition-line{
            width: 4.427vw ;
            height: 0px;
            border: 1px white solid;
            margin-top: 30px;
            margin-bottom: 25px;
            
        }
        p{
            line-height: 30px;
            font-size: 16px;
            width: 28.906vw;
            margin-bottom: 50px;
        }
        .composition-button{
            background-color: rgba(255, 255, 255, 0) ;
            border: rgba(255, 255, 255, 1) 1px solid ;  
            padding: 17px 30px;
            cursor: pointer;
        }
}
.composition-img__block{
    position: relative;

}
 .composition-box{
    display: flex;
    gap: 20px   ;
    margin-top: 100px;
 }
 .composition-img__border{
    width: 100%;
    height: 80%;
    border: 1px rgba(255, 255, 255, 0.2)    solid;
    position: absolute;
    bottom: 10%;
    margin-left: 40px;
 }
}
.composition-img{
    width: 52.083vw;
} 
.composition-box__img{
    width: 6.406vw;
}

@media (max-width: 1000px){
    .composition{
        .composition__title{
            h2{
                font-size: 40px;
            }
        }
    }
}
@media (max-width: 750px){
    .composition{
        display: block;
        .composition-img__border{
            width: 52.083vw;
        }
        .composition-img__block{
            width: 52.083vw;
            margin: 0 auto;
        }
        .composition__title{
            h2{
                width: 76.083vw;
                text-align: center;
                
            }
            .composition-line{
                margin: 0 auto;
                width: 10vw;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            p{
                width: 76.083vw;
                text-align: center;
            }
            .composition-button{
                position: absolute;
                left: 40%;
            }

        }
        .composition-box__img{
            opacity: 0;
        }
    }
}
