footer{
    padding-top: 21px;
    padding-bottom: 20px;
    background-color: rgba(59, 24, 30, 1)   ;
    ul{
        display: flex;
        list-style: none;
        width: 49.479vw    ;
        gap:2.604vw;
        margin: 0 auto;
        font-size: 14px;
    }
}